 /* ====================ХЕДЕР======================= */

 header {
     border-bottom: 1px solid var(--silver-color);
    @media screen and(min-width:480px){width: 60px;}
        
    }
 

 .header__logo {
     text-decoration: none;
     font-family: 'Raleway';
     font-style: normal;
     font-weight: 700;
     font-size: 26px;
     line-height: 1.2;
     color: var(--accent-color);
 }

 .header__logo>.header__logo-link {
     color: #000000;
     text-decoration: none;
     font-family: 'Raleway';
     font-style: normal;
     font-weight: 700;
     font-size: 26px;
     line-height: 1.2;
 }

 /* навігація хедера */

 .nav__section {
    display: none;
    @media screen and ( min-width:768px){
        display: flex;
            margin-left: 93px;
    }
 }

 .nav__section .nav__item+.nav__item {
     margin-left: 50px;
 }

 .nav__section .nav__link {
     padding-top: 32px;
     padding-bottom: 32px;
     display: block;
     font-weight: 500;
     line-height: 1.14;
     letter-spacing: 0.02em;
     color: var(--dark-color);
     text-decoration: none;
     transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
 }

 .nav__link:focus {
     color: var(--accent-color);
 }

 .nav__link:hover {
     color: var(--accent-color);
 }

 /* формат шрифту навігаційних посилань */
 .nav__section .nav__item {
     position: relative;
 }

 /* активна поточна сторінка */
 .nav__link--current {
     color: var(--accent-color);
     text-decoration: none;
     padding-top: 32px;
     padding-bottom: 32px;
     display: block;
 }

 .nav__link--current::after {
     position: absolute;
     left: 0;
     bottom: 0;
     display: block;
     content: '';
     width: 100%;
     height: 4px;
     background-color: var(--accent-color);
     border-radius: 2px;
 }

 .header__section {
     display: flex;
     align-items: center;
   
 }

 nav {
     display: flex;
     align-items: center;
 }


 /* формат шрифту посилання телефон */

 .header__contact {
    display: none;
    @media screen and(min-width:768px){
        display: flex;
            margin-left: auto;
            transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }  
 }

 .header__link {
     font-weight: 500;
     line-height: 1.14;
     letter-spacing: 0.02em;
     color: var(--text-color);
     padding-top: 32px;
     padding-bottom: 32px;
     color: var(--text-color);
     fill: currentColor;
     font-weight: 500;
     line-height: 1.14;
     letter-spacing: 0.02em;
     color: var(--text-color);
     transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
 }

 .header__link:hover,
 .header__link:focus {
     fill: var(--accent-color);
     color: var(--accent-color);
 }

 .header__link {
     margin-right: 30px;
 }

 .header__icon {
     width: 16px;
     height: 12px;
     margin-right: 10px;
 }

 .header__icon:hover,
 .header__icon:focus {
     color: var(--accent-color);
 }
