/* Чим займаємось */

.job {
    padding-top: 0;
    padding-bottom: 0;
    @media screen and (max-width: 480px){display: none;}
        
    }


.container_works {
    margin-top: 0px;
    padding-bottom: 94px;
}

.container_works .item+.item {
    margin-left: 30px;
}

.container_works .foto {
    display: flex;
    justify-content: center;
}

.foto .item {
    position: relative;
}

.app {
    content: '';
    position: absolute;
    width: 100%;
    padding-top: 27px;
    height: 70px;
    left: 0;
    bottom: 0;
    background: rgba(47, 48, 58, 0.8);
    font-weight: 700;
    line-height: 1.14;
    text-align: center;

    text-transform: uppercase;
    color: var(--color-light);
}