/* <=================== MODALKA =====================> */
.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 528px;
    min-height: 581px;
    background: var(--color-light);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0;
}

.modal__input {
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    resize: none;
    width: 100%;

}

.modal__input:hover,
.modal__input:focus {
    border: 1px solid var(--accent-color);
    border-radius: 4px;
}

.modal__icon {
    position: absolute;
    width: 12px;
    height: 12px;
    left: 15px;
    top: 14px;
    bottom: 14px;
}

.modal__input:hover+.modal__icon {
    fill: var(--accent-color);
}

.modal__input:focus+.modal__icon {
    fill: var(--accent-color);
}

textarea {
    padding: 12px 16px;
}

.modal__button {
    width: 30px;
    height: 30px;
    background: var(--color-light);
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    margin-right: 8px;
    margin-top: 8px;
    color: black;
    fill: currentColor;
    position: absolute;
    right: 0px;
}

.modal__button:hover,
.modal__button:focus {
    fill: var(--accent-color);
    color: var(--accent-color);
    border-color: var(--accent-color);
}

.modal__text {
    width: 100%;
    padding-top: 40px;
    padding-right: 40px;
    padding-left: 40px;
    text-align: center;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    color: var(--dark-color);
    margin-bottom: 12px;
}

.modal__input-group {
    position: relative;
    margin-bottom: 12px;
    margin-top: 4px;
}

.modal__input-group input {
    width: 100%;
    height: 40px;

    padding-left: 42px;
}

.modal__form {
    padding-left: 40px;
    padding-right: 40px;
}

.modal__check {
    color: var(--text-color);
    border: 2px solid var(--dark-color);
    display: inline-block;
    width: 16px;
    height: 16px;
    border-radius: 3px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 8px;
    background-color: transparent;
    margin-top: 3px;
}

.modal__check-icon {
    width: 11px;
    height: 8px;
    display: none;
    fill: var(--color-light);
}

.modal__privacy .hidden:checked+.modal__check {
    background-color: var(--accent-color);
    border-color: transparent;
}

.modal__privacy .hidden:checked+.modal__check .modal__check-icon {
    display: block;
}

.modal__contract {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    color: var(--accent-color);
}

.modal__contract:hover,
.modal__contract:focus {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    color: var(--accent-color);
    text-decoration: underline;
}

.modal__privacy {
    display: flex;
    justify-content: center;
}

.benefits_icon {
    display: inline-block;
    width: 70px;
    height: 70px;
    margin: 25px 100px 25px 100px;
}

.border_benefits {
    display: flex;
    background-color: #f5f4fa;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;

}

.modal__textarea {
    margin-bottom: 20px;
    margin-top: 4px;
}

.modal__button-send {
    border-color: rgba(255, 255, 255, 0);
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    margin-bottom: 50px;
    display: block;
    min-width: 200px;
    height: 50px;
    border-radius: 4px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    color: var(--color-light);
    cursor: pointer;
    background-color: var(--accent-color);
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__button-send:hover,
.modal__button-send:focus {
    color: var(--accent-color);
    background-color: var(--color-light);
    border-color: var(--accent-color);
}