/* Імена учасників команди */

.section {
    background-color: #F5F4FA;
    margin-bottom: 94px;
}

.name_position {
    background: var(--color-light);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    padding-top: 30px;
    padding-bottom: 30px;
}

.team{
    @media screen and(max-width: 767px) {
        display: flex;
        flex-wrap: wrap;
        padding-top: 0;
        ;
    }
}

.team {
    display: flex;
    justify-content: center;
    @media screen and(min-width:768px){
        padding-bottom: 94px;
    }
   
}

.our_team {


    background-color: #f5f4fa;

    

@media screen and(max-width: 767px) {
        padding-top: 0;
        display: flex;
        flex-direction: column;
}}

.icon-group {
    border: 1px solid #afb1b8;
    border-radius: 4px;
    width: 170px;
    height: 92px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 30px;
    color: #afb1b8;
    fill: currentColor;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.group li:last-child {
    margin-right: 0;
}

.container .client {
    max-width: 1200px;
}

.icon_client {
    width: 106px;
    height: 60px;
}

.icon-group .icon {
    fill: #afb1b8;
}

.icon-group:hover,
.icon-group:focus {
    border-color: var(--accent-color);
    fill: var(--accent-color);
}


.group {
    display: flex;
    align-items: center;
    align-content: center;
}

.our_team .item+.item {
    margin-top: 10px;
    @media screen and(min-width:768px){
    margin-left: 30px;
    margin-top: 0px;
}
    
}

.team_name {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    margin-bottom: 10px;
}

/* посади учасникв */
.team_position {
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    color: var(--text-color);
    margin-bottom: 16px;}